*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("./sky\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px 3px 10px;
    position: sticky;
    top: 0px;
    background-color: #ffffffd5;
    z-index: 10;
    overflow-x: hidden;
}
#navbar article{
    display: flex;
    padding: 10px;
    /* margin: 30px; */
}
#navbar article div a{
    margin: 30px;
    text-decoration: none;
    align-items: center;
    color: #25304b;
}
#navbar article div a i{
    margin-left: 10px;
}
#navbar article img{
    height: 31px;
    width: 103px;
}
#navbar .ar3 div a i{
    margin-left: 8px;
}
#navbar .ar3 div span{
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}
#navbar .ar3 div a{
    background-color: lightgray;
    padding: 12px 6px 12px 4px;
    border-radius: 50px;
}
#navbar .ar3{
    margin-top: 4px;
}
#navbar .ar2{
    margin-top: 4px;
}
/* <!-- ================================================= hero section ========================================================== --> */
#hero{
    overflow-x: hidden;
}
#hero div h1{
    font-size: 40px;
    margin-left: 145px;
    margin-top: 28px;
}
#hero div h1 span{
    color: green;
}
#hero .ar1{
    background-color: white;
    margin-top: 30px;
    margin-left: 145px;
    margin-right: 160px;
    border-radius: 20px;
    padding-bottom: 30px;
}
#hero .ar1 .div1{
    color: white;
    background-color: darkblue;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}
#hero .ar1 .div1 p{
    margin-left: 530px;
}
#hero .ar1 .div2{
    display: flex;
    margin-top: 40px;
}
#hero .ar1 .div2 div{
    font-size: 15px;
}
#hero .ar1 .div2 div input{
    height: 23px;
    width: 23px;
    margin-left: 50px;
}
#hero .ar1 .div2 div div{
    font-size: 16px;
    margin-top: -24px;
    margin-left: 85px;
}
/* ====================================== */
#hero .ar1 .div3{
    display: flex;
    margin-left: 40px;
    margin-right: 600px;
    margin-top: 30px;
    border: none;
}
#hero .ar1 .div3 div input{
    font-size: 24px;
    height: 70px;
    width: 150px;
    border: 1.5px solid lightblue;
    padding-right: 130px;
    margin-top: 5px;
}
#hero .ar1 .div3 div label{
    font-size: 15px;
    margin-left: 10px;
}
#hero .ar1 .div3 .d1 input{
    border-radius: 10px 0px 0px 10px;
}
#hero .ar1 .div3 .d4 input{
    border-radius: 0px 10px 10px 0px;
}
#hero .ar1 .div3 div input::placeholder{
    padding-left: 10px;
    color: blue;
}
/* ========================================== */
#hero .ar1 .div4{
    margin-left: 40px;
    margin-top: 15px;
}
#hero .ar1 .div4 label{
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}
#hero .ar1 .div4 label select{
    border: none!important;
    margin-left: 5px;
    text-decoration: dotted;
    padding: 5px;
    font-size: 16px;
    color: blue;
}
#hero .ar1 .div4 #label2{
    margin-left: 30px;
}
#hero .ar1 .div4 #label1{
    padding-right: 35px;
}
#hero .ar1 .div4 input{
    margin-left: 480px;
    background-color: blue;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-size: 16px;
}
/* =============================================================================== */
#hero .ar2{
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-left: 145px;
    margin-right: 1100px;
    padding: 20px;
    border-radius: 50px;
}
#hero .ar2 .div1 .div1{
    color: blue;
    font-size: 16px;
}
#hero .ar2 .div1 .div2{
    color: #25304b;
    font-size: 16px;
    margin-top: 5px;
}
#hero .ar2 .div2 i{
    margin-left: 25px;
    margin-top: 2px;
    font-size: 21px;
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 50%;
}
/* ===========================================================first section======================================================= */
.div1_first{
    margin-left: 145px;
    margin-top: 100px;
    font-size: 23px;
}
.div2_first h1{
    margin-top: 10px;
    margin-left: 145px;
    font-size: 40px;
}
.div2_first h1 span{
    color: green;
}

/* ====================================== slider ============================ */
#slider{
    overflow-x: hidden;
    width: 100%;
}
#inslider{
    display: inline-flex;
    animation-name: slider;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#slider{
    padding: 25px 0px 20px 30px;
    background-color: white;
    border-radius: 20px;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 30px;
}
#inslider div img{
    height: 500px;
    width: 1250px;
    border-radius: 20px;
}
#inslider div{
    height: 500px;
    width: 1250px;
    margin-left: 0px;
    margin-right: 120px;
}
@keyframes slider{
    0%{
        margin-left: 0px;
    }
    20%{
        margin-left: 0px;
    }
    40%{
        margin-left: -1370px;
    }
    60%{
        margin-left: -1370px;
    }
    80%{
        margin-left: -2890px;
    }
    100%{
        margin-left: -2890px;
    }
}
/* ===================================== second section =============================================== */
#second{
    background-color: white;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 15px;
    border-radius: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
}
#second .ar1 .div1{
    display: flex;
}
#second .ar1 .div1 .h1{
    background-image: url("./second_page_img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 200px;
    width: 330px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 33px;
    color: white;
}
#second .ar1 .div1 .h1 div{
    margin-top: 90px;
    margin-left: 25px;
}
#second .ar1 .div1 .h2{
    background-image: url("./second_page_img2.avif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 200px;
    width: 330px;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 33px;
    color: #25304b;
}
#second .ar1 .div1 .h2 div{
    margin-top: 50px;
    margin-left: 25px;
}
#second{
    display: flex;
}
#second .ar1 .div2 div{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/new_img/Offer_Section_Hotels.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 675px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 15px;
}
#second .ar2 div{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/homepage/new_images/IndiGo-BluChip-second-web-Banner-updated.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    width: 675px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 15px;
}
/* ==================================================== third section=============================================== */
#third{
    margin-top: 20px;
    overflow-x: hidden;
}
#third article{
    display: flex;
    margin-left: 80px;
}
#third article div{
    margin: 20px;
}
#third article .div1{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Ayodhya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div1 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div2{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Bangkok.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div2 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div3{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Bengaluru.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div3 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div4{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Delhi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div4 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div5{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Goa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div5 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div6{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Hyderabad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div6 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div7{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Leh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div7 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div8{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Mumbai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div8 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
#third article .div9{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/city/thumb/Pune.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    width: 100px;
    box-shadow: 0px 0px 80px 4px black inset;
    border-radius: 60px;
    border: 5px solid blue;
}
#third article .div9 div{
    color: white;
    font-size: 17px;
    margin-left: 33px;
    margin-top: 95px;
}
/* ================================================= forth section ====================================================== */
#forth{
    display: flex;
    overflow-x: hidden;
    padding-bottom: 30px;
}
#forth #ar1 .div1{
    margin-left: 50px;
    margin-top: 15px;
    font-size: 40px;
}
#forth #ar1 .div1 span{
    color: green;
}
#forth #ar1 .btn a{
    text-decoration: none;
    background-color: white;
    color: #009;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: 1px solid #009;
    font-size: 18px;
}
#forth #ar1 .btn{
    margin-left: 50px;
    margin-top: 30px;
}
#forth .ar2 video{
    height: 450px;
    margin-top: 70px;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: 0px 0px 20px 0.5px black;
}
#forth .ar2{
    display: flex;
    margin-left: 170px;
}
/* ================================================= forth section slider =============================================== */
#forth {
    position: relative;
    height: 100%;
}

#forth {
    /* font-size: 14px; */
    color: #000;
}

#forth .swiper {
    width: 500px;
    height: 300px;
    margin-left: 50px;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0.5px black;
}

#forth .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forth .swiper-slide img {
    display: block;
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: -70px;
}
#forth .swiper-slide .h{
    margin-right: 30px;
    margin-top: -70px;
    font-size: 23px;
    text-align: left;
} 
/* ======================================================= video slider forth section ======================================= */

/* ======================================================= fifth section=================================================== */
#fifth{
    margin-top: 50px;
    overflow-x: hidden;
}
#fifth article{
    background-image: url("https://www.goindigo.in/content/dam/s6web/in/en/assets/homepage/new_banners/Banner_above_footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 1300px;
    margin-left: 105px;
    margin-right: 100px;
    border-radius: 30px;
}
#fifth article .div1 div{
    font-size: 43px;
    margin-left: 100px;
    padding-top: 90px;
    color: white;
}
#fifth article .div1 div span{
    color: rgb(4, 148, 4);
}

#fifth article .div2{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
#fifth article .div2 .one{
    background-color: rgba(0, 0, 0, 0.53);
    padding: 30px;
    margin-top: 320px;
    border-radius: 20px;
}
#fifth article .div2 .one .h1{
    font-size: 33px;
}
#fifth article .div2 .one .div_one{
    display: flex;
    margin-top: 40px;
}
#fifth article .div2 .one .div_one div a{
    margin-left: 20px;
    color: white;
    background-color: blue;
    padding: 10px 13px 10px 13px;
    border-radius: 50%;
}
#fifth article .div2 .one .div_one div a i{
    margin-top: 12px;
}
#fifth article .div2 .two{
    background-color: rgba(0, 0, 0, 0.53);
    padding: 30px;
    margin-top: 320px;
    border-radius: 20px;
}
#fifth article .div2 .two .h1{
    font-size: 33px;
}
#fifth article .div2 .two .div_two{
    display: flex;
    margin-top: 40px;
}
#fifth article .div2 .two .div_two div a{
    margin-left: 20px;
    color: white;
    background-color: blue;
    padding: 10px 13px 10px 13px;
    border-radius: 50%;
}
#fifth article .div2 .two .div_one div a i{
    margin-top: 15px;
}
#fifth article .div2 .three{
    background-color: rgba(0, 0, 0, 0.53);
    padding: 30px;
    margin-top: 320px;
    border-radius: 20px;
}
#fifth article .div2 .three .h1{
    font-size: 33px;
}
#fifth article .div2 .three .div_three{
    display: flex;
    margin-top: 40px;
}
#fifth article .div2 .three .div_three div a{
    margin-left: 20px;
    color: white;
    background-color: blue;
    padding: 10px 13px 10px 13px;
    border-radius: 50%;
}
#fifth article .div2 .three .div_three div a i{
    margin-top: 12px;
}
/* ====================================================== sixth section ====================================================== */
#sixth{
    overflow-x: hidden;
}
#sixth article div img{
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    height: 460px;
    z-index: 8;
}
/* ====================================================== footer section ===================================================== */
#footer{
    background-color: #040273;
    z-index: 6;
    margin-top: -170px;
    overflow-x: hidden;
}
#footer article .div1 .heading{
    display: flex;
    margin-left: 35px;
    color: white;
    justify-content: space-evenly;
    font-size: 13px;
}
#footer article .div1 .heading h1{
    margin: 15px 100px 20px 30px;
}
#footer article .div2{
    padding-top: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 50px;
}
#footer article .div2 div h1{
    font-size: 17px;
    color: white;
    margin-bottom: 25px;
    margin-left: -5px;
}
#footer article .div2 .line5 img{
    height: 100px;
}
#footer article .div2 div a{
    text-decoration: none;
    color: white;
}
#footer article .div2 .line1{
    margin-left: -45px;
}
#footer article .div2 .line2{
    margin-left: -15px;
}
#footer article .div2 .line3{
    margin-left: px;
}
#footer article .div2 .line4{
    margin-left: px;
}
#footer article .div2 .line5{
    margin-right: -50px;
}
#footer .ar1 div{
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
#footer .ar2 img{
    margin-top: 30px;
    width: 100%;
    opacity: 0px;
}